<ion-header>
  <ion-toolbar>
    <ion-title>Novo Evento</ion-title>
    <ion-back-button text="Voltar"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formulario">
    <ion-item *ngIf="categorias">
      <ion-label color="primary" position="stacked"> Categoria </ion-label>
      <ion-select placeholder="Selecione um" okText="Okay" cancelText="Cancelar" interface="action-sheet" formControlName="categoria_evento">
        <ng-container *ngFor="let categorizar of categorias">
          <ion-select-option  [value]="categorizar.categoria_id">{{categorizar.nome}}</ion-select-option>
        </ng-container>
      </ion-select>
      <!--<ion-input  type="text" formControlName="categoria_evento"></ion-input>> -->
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Titulo do Evento </ion-label>
      <ion-input  type="text" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-toolbar>
      <ion-label color="primary" position="stacked" padding="0" slot="start">Palestrante(s)</ion-label>
      <ion-button size="small" fill="clear" slot="end" (click)="addPalestranteInput();"><ion-icon name="add" size="small" type="clear"></ion-icon></ion-button>
    </ion-toolbar>
        <div formArrayName="palestrante">
        
      <div *ngFor = "let p of Palestrantes.controls; index as i">
          <ion-item>
              <ion-input  type="text"  formControlName="{{ i }}"></ion-input>
          </ion-item>
      </div>
    </div>
 
    <ion-item>
      <ion-label color="primary" position="stacked">Data do Evento</ion-label>
      <ion-datetime 
        pickerFormat="DD/MM/YYYY" 
        displayFormat="DDDD, DD de MMMM de YYYY"
        month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        day-names="Domingo, Segunda, Terça, Quarta, Quinta, Sexta, Sábado" 
        formControlName="data_horario"
      >
      <!-- pickerFormat="DD/MMMM/YYYY HH:mm" 
           displayFormat="DDDD, DD de MMMM de YYYY HH:mm"
           minuteValues="00,15,30,45"
      -->
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Local</ion-label>
      <ion-input type="text" formControlName="localizacao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Carga Horária</ion-label>
      <ion-input   type="number" formControlName="carga_horaria"></ion-input>
    </ion-item>
  </form>
  <ion-button size="block"  type="submit" (click)="onSubmit();">CRIAR</ion-button>
</ion-content>
