<ion-header>
  <ion-toolbar>
    <ion-back-button color="primary" text="Voltar"slot="start"></ion-back-button>
    <ion-title slot="end">Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formularioUsuarioEdit" class="ion-padding">
    <ion-item>
      <ion-label color="primary" position="stacked"> Nome </ion-label>
      <ion-input  type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">CPF</ion-label>
      <ion-input  type="number" formControlName="cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Profissão</ion-label>
      <ion-input  type="text" formControlName="profissao"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label color="primary" position="stacked">Data de Ingresso</ion-label>
      <ion-datetime 
        pickerFormat="DD/MM/YYYY" 
        displayFormat="DDDD, DD de MMMM de YYYY"
        month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        day-names="Domingo, Segunda, Terça, Quarta, Quinta, Sexta, Sábado" 
        formControlName="data_ingresso"
      >
      </ion-datetime>
    </ion-item>
  </form>
  <ion-button size="block"  type="submit" (click)="onSubmit();">CRIAR</ion-button>
</ion-content>
