<ion-header>
  <ion-toolbar>
    <ion-back-button text="voltar" slot="start"></ion-back-button>
    <ion-title slot="end">Registro de presença</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <p slot="start">Nome<p>
    <p slot="end">Presença<p>
  </ion-item>
  <ion-list *ngFor = "let u of listaUsuarioEvento;">
    <ion-item>
      <h5>{{u.nome}}</h5>
      <ion-checkbox [(ngModel)]="u.isPresent" slot="end">
      </ion-checkbox>
      <ion-input>{{u.isPresent}}</ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="registerUsers()"> REGISTRAR</ion-button>
</ion-content>
