<ion-header>
  <ion-toolbar>
    <ion-back-button color="primary" slot="start"></ion-back-button>
    <ion-title slot="end">Detalhes do evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="ion-padding" src="http://www.casa.ufc.br/wp-content/uploads/2019/05/14-05-2019-laboratorio-de-praticas-docentes.corrigido.jpg"></ion-img> <!-- src="http://www.fjmangabeira.org.br/wp-content/uploads/2017/05/Curso.jpg"-->
  <ion-list class="ion-padding" *ngIf="event">
    <ion-header>
      <h1>{{event[0].evento_id}}: {{event[0].titulo}} </h1>
    </ion-header>
    <p>{{event[0].localizacao}}</p>
    <h3>Palestrantes</h3>
    <div *ngFor= "let p of event[0].palestrante">
      <p >{{p}}</p>
    </div>
    <h3>Data:</h3>
    <p>{{event[0].data_horario}}</p>
    <h3>Carga Horária</h3>
    <p>{{event[0].carga_horaria}}</p>
    <ion-button size="block" [routerLink]="['/presence-event',event[0].evento_id]">
      Registrar presentes
    </ion-button>
  </ion-list>
 
</ion-content>
