<ion-header>
  <ion-toolbar>
    <ion-title>Usuário</ion-title>
    <ion-button slot="end" fill="clear" [routerLink]="['/new-edit-user']">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
      <h5 slot="start">Participante</h5>
      <h5 slot="end" >Carga Horaria</h5>
      <h5 slot="end">Opções</h5>
  </ion-item>
  <ion-list *ngFor="let usuario of ListaUsuario">
    <ion-item>
      <h5 slot="start">{{usuario.nome}}</h5>
      <h5 slot="end" >{{usuario.carga_horaria}}h</h5><!--  no-margin -->
      <ion-button size="small" fill="clear" slot="end" no-margin>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="clear" slot="end" no-margin [routerLink]="['/edit-user',usuario.usuario_id]">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="clear" slot="end" no-margin (click)="onDeleteConfirm( usuario );">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
