<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="stacked">nome</ion-label>
      <ion-input  type="text" [(ngModel)]="authUser.credential"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">cpf</ion-label>
      <ion-input type="password"  [(ngModel)]="authUser.password"></ion-input>
    </ion-item>
    <ion-button size="full"  margin (click)="login();">Logar</ion-button> <!--[routerLink]="['/tabs/tabs/tab1']"-->
  </ion-list>
</ion-content>
