<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab4">
      <ion-icon ios="ios-people" md="md-people"></ion-icon>
      <ion-label>Participantes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
