ion-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-list {
    margin: 0px;
    padding: 0px;
}
.italic {
    font-style: italic;
}

