<ion-header>
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
    <ion-button fill="clear" size="small" slot="end" [routerLink]="['/new-event']">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list *ngIf ="events"> <!--  #scheduleList [hidden]="shownSessions === 0" -->
        <ion-item-group> <!-- [hidden]="group.hide -->
    
          <ion-item-sliding>

            <ion-item *ngFor = "let event of events"> <!-- routerLink="/app/tabs/schedule/session/{{session.id}} -->
              <ion-label>
                <div class=" no-margin no-padding">
                    <ion-header slot="start">
                        {{ event.titulo }}
                    </ion-header>
                </div>
                <p class=" no-margin italic"> {{ event.data_horario }}  </p>
                <p class="no-margin"><strong>Carga Horária:</strong> {{ event.carga_horaria }}</p>
              </ion-label>
             
              <ion-button fill="clear" [routerLink]="['/detail-event',event.evento_id]">
                <ion-icon size="small" name="arrow-forward"></ion-icon>
              </ion-button>
             
            </ion-item>

          </ion-item-sliding>

        </ion-item-group>
    </ion-list>
</ion-content>


<div class="ion-center">
  <p *ngIf="!events">Carregando...</p>
</div>
<!--
  <ion-item *ngFor = "let event of events">
    {{ event.id}}, {{ event.title }}, {{ event.location }}
  </ion-item>
</ion-list> -->