<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button slot="end" (click)="logout();">Sair</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="http://www.parquevilagermanica.com.br/wp-content/uploads/2017/07/banner-Eventos.png"></ion-img> <!--src="/assets/shapes.svg"-->
      <ion-card-header>
        <ion-card-subtitle>Comece!</ion-card-subtitle>
        <ion-card-title>Bem vindo ao seu aplicativo de eventos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Adicione novos eventos e gerencie as presenças e carga horária dos participantes.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Funções</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Tutorial</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Mudar Tema</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
